
div.profile-subtitle Summary
  div#skill-summary-icon(class="ss-write edit-icon open-modal", data-openmodal="skillSummaryEdit")

    div#profile-delete-modal.confirm-delete.popover
      span(class="confirm-delete-subtitle") Are you sure want to delete this profile?
      br
      br
      input(type="button", id="delete-profile-confirm", class="confirm-delete-button", value="Yes")
      input(type="button", class="confirm-delete-button close-modal", value="No", data-closemodal="profile-delete-modal")

    div#skill-delete-modal.confirm-delete.popover
      span(class="confirm-delete-subtitle") Are you sure you want to delete this skill?
      br
      br
      input(type="button", id="delete-skill-confirm", class="confirm-delete-button", value="Yes")
      input(type="button", class="confirm-delete-button close-modal", value="No", data-closemodal="skill-delete-modal")

div.skill-summary
  div#summary-display.summary-textbox
    if skill.skillSummary
      =skill.skillSummary
    else
      =Mi.CMS[profileType].summary_placeholder


  //- skill summary edit modal
  div#skillSummaryEdit.skill-summary-edit.popover
    span(class="ss-delete close-modal", data-closemodal="skillSummaryEdit")
    div.profile-subtitle.summary-title-edit Edit Summary
    textarea.summary-textarea.summary-textbox(data-skillsummary="content", resize="no", placeholder="Enter summary")
     if skill.skillSummary
        =skill.skillSummary

    div.update-buttons
      input(type="button", class="button-alt greenbutton marginright30", value="Done", id="save-skill-summary")
      input(type="button", class="button-link close-modal", data-closemodal="skillSummaryEdit", value="Cancel")
  //----------------------------

div(class="skill-element-container")
  div.tab-navigation
    div.tab-button(data-tabnav="docs") Documents
      div.inner
    div.tab-button(data-tabnav="videos") Videos
      div.inner
    div.tab-button.active(data-tabnav="photos") Photos
      div.inner

  // - skill photo tab/slidewhow
  div(class="tab-element active", id="photos-tab")

  //--------------------------------
  //- skill video slide-show
  div(class="tab-element", id="videos-tab")

  //-----------------------------------------------------------------------
  //- skill video edit modal
  div#skillVideoEdit.skill-video-edit.popover
    div(class="ss-delete close-modal", data-closemodal="skillVideoEdit")
    div#video-edit-title.profile-subtitle YouTube or Vimeo video url for this skill
    input#video_url_edit(type="text", class="primary-input youtube-url-input", placeholder="Add your video url (YouTube or Vimeo)", style="width: 100%")
    br
    br
    br
    div.profile-subtitle Give this video a short description
    input#video_description_edit(type="text", class="primary-input", placeholder="Add a description (up to 70 characters)", maxlength="70", style="width: 100%")
    div.update-buttons
      input(type="button", class="button-link", value="Delete", id="delete-skill-video")
      input(type="button", class="button-alt greenbutton", value="Save", id="save-skill-video")
      input(type="button", class="button-link close-modal", data-closemodal="skillVideoEdit",  value="Cancel")


  //- skill video confirm delete
  div#skill-video-delete-modal.confirm-delete.popover
    span(class="confirm-delete-subtitle") Are you sure want to delete this video?
    br
    br
    input(type="button", id="delete-skill-video-confirm", class="confirm-delete-button", value="Yes")
    input(type="button", class="confirm-delete-button close-modal", value="No", data-closemodal="skill-video-delete-modal")

  //-//////////////////////////////////////////////////////


  //- skill document viewer
  div(class="tab-element", id="documents-tab")

  //- skill document delete confirm
  div#skill-document-delete-modal.confirm-delete.popover
    span(class="confirm-delete-subtitle") Are you sure want to delete this document?
    br
    br
    input(type="button", id="delete-skill-document-confirm", class="confirm-delete-button", value="Yes")
    input(type="button", class="confirm-delete-button close-modal", value="No", data-closemodal="skill-document-delete-modal")


  //- skill document edit modal
  div#skillDocumentEdit.skill-document-edit.popover
    span(class="ss-delete close-modal", data-closemodal="skillDocumentEdit")
    div#document-edit-title.profile-subtitle Edit the title and description of this document or choose a new file to upload. PDF only please.
    input(type="text", class="skill-document-title primary-input", placeholder="Document Title (up to 30 characters)", maxlength="30")
    br
    textarea(type="text", class="skill-document-desc", maxlength="500", placeholder="Detailed description (up to 500 characters)")
    div.upload-buttons
      input(type="file", id="skillDocUpload", accept="application/pdf")
    div.update-buttons
      input(type="button", class="button-link", value="Delete", id="delete-skill-document")
      input(type="button", class="button-alt greenbutton", value="Save", id="save-skill-document")
      input(type="button", class="button-link close-modal", data-closemodal="skillDocumentEdit", value="Cancel")



  //- skill photo confirm delete
  div#skill-photo-delete-modal.confirm-delete.popover
    span(class="confirm-delete-subtitle") Are you sure want to delete this photo?
    br
    br
    input(type="button", id="delete-skill-photo-confirm", class="confirm-delete-button", value="Yes")
    input(type="button", class="confirm-delete-button close-modal", value="No", data-closemodal="skill-photo-delete-modal")


  //- skill photo edit modal
  div#skillPhotoEdit.skill-photo-edit.popover
    span.ss-delete.close-modal(data-closemodal="skillPhotoEdit")
    span#photo-edit-title.profile-subtitle Photo for this skill

    div.skill-photo-preview
      div#skillPicturePreview
        div.filler
    div.upload-buttons
      input(type="file", id="skillImgUpload", class="skill-image-upload", accept="image/*")
    span.profile-subtitle Description of photo
    input#photo-upload-desc.skill-photo(type="text", placeholder="Add a description (up to 30 characters)", maxlength="30")
    div.update-buttons
      input(type="button", class="button-link", value="Delete", id="delete-skill-photo")
      input(type="button", class="button-alt greenbutton", value="Save", id="save-skill-photo")
      input(type="button", class="button-link close-modal", data-closemodal="skillPhotoEdit", value="Cancel")

  //----------------------------
